{% extends 'blog/base.html' %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
<!--    {{ form.as_p }}-->
    {% for field in form %}
    <div class="form-group{% if field.errors %} {{ form.errorClass }}{% endif %}">
        <label {% if field.field.required %}class="bold"{% endif %} for="{{ field.id_for_label }}">{{ field.label }}</label>

        {{ field }}

        {% if form.errors %}
            <ul>
                {% for error in form.errors %}
                    <li class="alert alert-dismissible alert-primary">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    {% endfor %}
    <button class="btn btn-info" type="submit">Guardar</button>
    <a class="btn btn-info" href="{% url 'blog:new_list' %}">Volver</a>
</form>
{% endblock %}


